<div class="app-container" ng-controller="renderCoinsList">
  <header>
    <div class="menu-btn" (click)="showMenu()">Select coin</div>
    <app-sort-coins [coinRate]="coinRate"></app-sort-coins>
    <app-create-csv></app-create-csv>
  </header>

  <main class="content">
    <app-menu
      [coinsInfo]="coinsInfo"
      (newItemEvent)="getIdCoin($event)"
      [ngStyle]="{transform: toggle ? 'translateX(0)' : 'translateX(-100%)', transition: 'transform .5s ease-out'}">
    </app-menu>
    <div class="table">

      <div class="loader">
        <div class="lds-ripple" *ngIf="loading">
          <div></div>
          <div></div>
        </div>

      </div>
      <div class="header">
        <div>
          <span>Coin: {{coinInfoHeader.name}}</span>
          <span>
          <img src="{{coinInfoHeader.logo}}" alt="">
        </span>
        </div>
      </div>
      <div class="body">
        <ul class="list">
          <li id="date" class="list-item">Date</li>
          <li id="rate" class="list-item">Rate</li>
        </ul>
        <ul class="list" *ngFor="let coin of coinRate">
          <li [attr.data-timestamp]="coin.date" class="list-item date">{{coin.dateToLocalString}}</li>
          <li class="list-item rate">{{coin.rate}}</li>
        </ul>
      </div>
    </div>
    <app-graphic [coinRate]="coinRate" ></app-graphic>

  </main>

  <div *ngIf="errorState.state" class="error-modal">
    <div class="bg"></div>
    <div class="message">
      <span>Sorry, something went wrong, please try again later</span>
     <span>{{errorState.message}}</span>
    </div>
  </div>
</div>

